/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2d5aa0;
  --ifm-color-primary-dark: #284e8c;
  --ifm-color-primary-darker: #254a84;
  --ifm-color-primary-darkest: #1e3d6d;
  --ifm-color-primary-light: #3266b4;
  --ifm-color-primary-lighter: #356abc;
  --ifm-color-primary-lightest: #4178d2;
  --ifm-code-font-size: 95%;
  --nepal-red: #DC143C;
  --nepal-blue: #2d5aa0;
}

[data-theme='dark'] {
  --ifm-color-primary: #3a4a5c;
  --ifm-color-primary-dark: #334050;
  --ifm-color-primary-darker: #2f3c4b;
  --ifm-color-primary-darkest: #26313e;
  --ifm-color-primary-light: #415468;
  --ifm-color-primary-lighter: #45586d;
  --ifm-color-primary-lightest: #4e6277;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Print styles */
@media print {
  .navbar__logo,
  .navbar__logo img,
  .navbar__brand,
  .navbar__brand img {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .navbar__title {
    font-size: x-large;
  }
  
  .navbar {
    display: block !important;
    height: auto;
  }
  
  .navbar__toggle {
    display: none !important;
  }
}
